.Window {
  background-color: var(--window-bg-color);
  border: 1px solid var(--window-border-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1.3rem;
  top: 0;
  left: 0;

  $mount-time: 0.3s;
  $mount-timing: ease;

  transition: background-color $theme-transition-time,
    width $mount-time $mount-timing, height $mount-time $mount-timing,
    transform $mount-time $mount-timing, border-radius $mount-time $mount-timing;

  &.mounted {
    transition: none;
  }

  .wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    font-size: 3.6rem;
  }
}

@media (max-width: $breakpoint-tablet) {
  .Window {
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }
}
