:root {
  --main-bg-color1: #eee; // 배경 중앙 색상
  --header-bg-color: #333333c0; // 헤더 배경 색상
  --text-color1: #222; // 텍스트 색상

  &.dark {
    --main-bg-color1: #353535;
    --header-bg-color: #333333c0;
    --text-color1: #fff;
  }
}
