:root {
  // Colors
  --main-bg-color: #dcdcdc; // 배경 중앙 색상
  --header-bg-color: #8dc4ff60; // 헤더 배경 색상
  --text-color1: #222; // 텍스트 색상
  --focus-bg-color: #68a2ff;
  --window-bg-color: #ececec;
  --window-border-color: #aaa;

  &.dark {
    --main-bg-color: #444444;
    --header-bg-color: #35353560;
    --text-color1: #fff;
    --focus-bg-color: #307fff;
    --window-bg-color: #1d1d1d;
  }
}
