.AppList {
  display: grid;
  height: calc(100% - $main-header-height);
  grid-auto-flow: column;
  direction: rtl;

  column-gap: 1.5rem;
  row-gap: 2.8rem;
  grid-template-columns: repeat(auto-fill, 74px);
  grid-template-rows: repeat(auto-fill, 80px);
  padding: 2rem;
}

@media (max-width: $breakpoint-tablet) {
  .AppList {
    grid-auto-flow: row;
    direction: initial;
    grid-template-columns: repeat(4, 1fr);
    padding: 5vw 4vw;
    row-gap: 8vw;
  }
}
