.AppList {
  display: grid;
  height: calc(100% - $main-header-height);
  grid-auto-flow: column;
  direction: rtl;

  row-gap: 2rem;
  grid-template-columns: repeat(auto-fill, 74px);
  grid-template-rows: repeat(auto-fill, 70px);
  padding: 2rem;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 1.2rem;
      margin: 0.5rem 0;
      text-shadow: 2px 2px 2px var(--text-shadow-color);
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .AppList {
    grid-auto-flow: row;
    direction: initial;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    padding-top: 4vw;
    row-gap: 6vw;
  }
}
